body { display: block; }
#sidebar { height: 100vh; background:rgb(55, 138, 58); color: white; padding: 10px; position: fixed; left: 0; top: 50px; transition: all .30s ease-in-out; overflow-x: hidden; }
#content { flex-grow: 1; padding: 70px 2px 0px; margin-left: 200px; transition: all .30s ease-in-out; }
#sidebar.collapsed { width: 0; padding: 0; overflow: hidden; }
#content.expanded { margin-left: 0; }
.navbar { background: #4caf50; position: fixed; top: 0; width: 100%; z-index: 1000; display: flex; justify-content: center; align-items: center; }
.navbar-brand { font-weight: bold; margin: 0 auto;}
.chart-container { width: 100%; max-width: 900px;}
.bi {margin-right: 10px; text-align: center;}
.tt { font-weight: bold; font-size: 30px; color: green; text-align: center;}
.bg1 {background-color: #004b23;}
.bg2 {background-color: #38b000;}
.bg3 {background-color: #ccff33; color: #004b23;}
.nu {text-align: center;}